.h1 {
  font-family: Mont;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 140%;
  letter-spacing: 0.025em;
  margin-bottom: 24px;
  color: #000000;
}

.h2 {
  font-family: Mont;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 140%;
  margin-bottom: 24px;
  color: #000000;
}

.h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  font-family: Mont;
  font-style: normal;
  margin-bottom: 24px;
  color: #000000;
}

.caption-upper {
  font-family: Mont;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: #000000;
}

